.warriorsBackground{
    background-color: rgb(222, 191, 16);
    border-color: white;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    margin: 30px;
    height: 70px;
}

.warriorsText{
    font-weight: 600;
    font-size: large;
    text-align: center;
    word-wrap: break-word;
}