/frontend/.vite/
/frontend/npm-debug.log*
/frontend/yarn-error.log*
/frontend/.eslintcache
/frontend/dist/
/frontend/build/
/frontend/out/
/frontend/node_modules/
/backend/dist/
/backend/build/
/backend/.coverage
/backend/pycache/