# Node (frontend)
team-builder-frontend/node_modules/
team-builder-frontend/build/
team-builder-frontend/dist/
team-builder-frontend/.cache/
team-builder-frontend/npm-debug.log*
team-builder-frontend/yarn-debug.log*
team-builder-frontend/yarn-error.log*
team-builder-frontend/*.log

# React env files
team-builder-frontend/src/.env
team-builder-frontend/.env.local
team-builder-frontend/.env.*.local

# Python (backend)
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd
backend/*.egg-info/
backend/.env

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/backend/venv/
/backend/__pycache__/
/backend/ .pytest_cache/
team-builder-frontend/node_modules/